/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: black;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: black;
}

/* Photo section styling */
.parallax-container {
  min-height: 620px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

#photoSection {
  min-height: 320px;
}


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  div#user-sign-in.container{
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgba(87, 85, 85, 0.678);
    padding: 10px;
    max-height: 100%;
    max-width: 90%;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    overflow-y: auto;
    border-radius: 3px;
    will-change: top, opacity;
    z-index: 20;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.541);
    color: white;

 }
 #user-sign-in h4{
   font-size: 1.5rem;

 }

 button#first-sign-in, button#first-sign-in-new {
    margin: 0 auto;
    border-radius: 3px;
}


}


#gasSection, #foodSection, #activitiesSection, #favoritesSection {
  margin-top: 20px;
  margin-bottom: 50px;
}

#gasIcon, #diningIcon, #activityIcon, #favoriteIcon {
  font-size: 100px;
  margin-top: -40px;;
  margin-bottom: auto;
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#oopsie{
  position: fixed;
    left: 0;
    right: 0;
    top:40%;
    background-color: rgba(87, 85, 85, 0.678);
    padding: 10px;
    max-height: 100%;
    max-width: 50%;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    overflow-y: auto;
    border-radius: 3px;
    will-change: top, opacity;
    z-index: 20;
    border: .5px dotted black;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, 0.541);
    color: white;

}

#close-btn{
  position: absolute;
  float: right;
  right: 39px;
  bottom: initial !important;
}
h4.close-text.center {
    margin: 2.42rem 0 0.912rem 0;
    line-height: 7vh;
}

 #user-sign-in{
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgba(87, 85, 85, 0.678);
    padding: 10px;
    max-height: 100%;
    max-width: 50%;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    overflow-y: auto;
    border-radius: 3px;
    will-change: top, opacity;
    z-index: 20;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, 0.541);
    color: white;
 }

 .blur-effect {
  /* Blur and de-color */
  -webkit-filter: blur(5px) grayscale(50%);
  -moz-filter: blur(5px) grayscale(50%);
  -ms-filter: blur(5px) grayscale(50%);
  -o-filter: blur(5px) grayscale(50%);
  filter: blur(5px) grayscale(50%);
  
 }

 #cancel-sign-in {
   border: none;
   background: none;
   border-bottom: .5px solid white;
 }

 #top-exit-btn {
  webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background: none;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
 }
 

/* autocomplete styling */
#state_input {
  margin-bottom: 0px !important;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 15;
  width: 100%;
  top: 100%;
  margin-left: 43px;
}

.autocomplete-items div {
  padding: 12px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  width: calc(100% - 3.75rem);
  border-bottom: 1px solid white;
  border-radius: 1px;
  cursor: pointer;
  background-color: rgba(87, 85, 85, 0.678); 
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #42A5F5; 
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #42A5F5 !important; 
  color: white; 
}


.hidden {
  display: none;
}

#gasFav {
  position: absolute;
  top: 10px !important;
  right: 11px !important;
}

.heart-icon {
  font-size: 3em;
}


#favoriteBtn {
  top: 10px !important;
  right: 11px !important;
}




#restaurantName {
  font-weight: 500 !important;
}

#cuisineType {
  bottom: -25px !important;
}

#ratingBadge {
  margin-right: -1px !important;
  border-radius: 2px !important;
  color: white;
  font-weight: 600;
  top: -40px !important;
  right: 11px;
  position: relative;
  line-height: 29px;
  height: 30px;
}

#showMoreBtn {
margin-right: auto;
margin-left: auto;
width: 100%;
}
.fav-btn.btn-floating.halfway-fab{
  top: 18px;
  right: 18px;

}

a.btn-floating.halfway-fab.rmv-btn{
  top: 18px;
  right: 18px;
}

.btn-small.rating-btn{
      position: absolute;
    top: 20px;
    left: 20px;
}

.card-content {
  height: auto;
  width: 100%;
}

.card-image img {
  height: 300px;
  width: 100%;
}

.card .card-image .card-title {
  text-shadow: 1px 1px 2px black, 0 0 1em #d1d1d1, 0 0 0.2em #5a5a5a;
  color: white;
 
}

.gas_logo {
  position: absolute;
  height: 35%;
  top: 15px;
  left: 15px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}


img#test {
  position: absolute;
  width: 100%;
  height: 100%;
}

#gasText {
  text-align: left;
}

.left {
  text-align: left !important;
}


.scrollToTop{
    text-decoration: none;
    position: fixed;
    bottom: 22px;
    left: 4px;
    display:none;
}

/* preloader styling starts */
.preloader{
  width:100px
}
/* preloader styling ends */


.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    display: inline-block;
}

#log-out-success {
  position: fixed;
  left: 0;
  right: 0;
  background-color: rgba(87, 85, 85, 0.678);
  padding: 10px;
  max-height: 100%;
  max-width: 50%;
  width: fit-content;
  margin: auto;
  margin-top: 10px;
  overflow-y: auto;
  border-radius: 3px;
  will-change: top, opacity;
  z-index: 20;
  border: .5px black;
  box-shadow: 0 0 0 .2rem rgba(255, 255, 255, 0.541);
  color: white;
}


/* .bioPic {
  height: auto;
  width: 100%;
} */

.bioText {
  margin-top: -5px;
  font-size: 12px;
}


button#first-sign-in, button#first-sign-in-new{
  margin:0 auto;
}
