/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: black;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: black;
}

.parallax-container {
  min-height: 620px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }




@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

#gasIcon, #diningIcon, #activityIcon, #favoriteIcon {
  font-size: 100px;
  margin-top: -40px;;
  margin-bottom: auto;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


 #user-sign-in{
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgba(87, 85, 85, 0.678);
    padding: 10px;
    max-height: 100%;
    max-width: 50%;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    overflow-y: auto;
    border-radius: 80px;
    will-change: top, opacity;
    z-index: 100000;
    border: .5px dotted black;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, 0.541);
    color: white;
 }

 .blur-effect {
     /* Blur and de-color */
  -webkit-filter: blur(5px) grayscale(50%);
 }

 #cancel-sign-in {
   border: none;
   background: none;
   border-bottom: 1px dotted white;
 }
 

/* autocomplete styling */
#state_input {
  margin-bottom: 0px !important;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  width: 100%;
  top: 100%;
  margin-left: 43px;
}

.autocomplete-items div {
  padding: 12px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  width: calc(100% - 3.75rem);
  border-bottom: 1px solid white;
  border-radius: 1px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.488); 
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #42A5F5; 
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #42A5F5 !important; 
  color: white; 
}


.hidden {
  display: none;
}


#favoriteBtn {
  top: 10px !important;
  right: 11px !important;
}


#restaurantName {
  font-weight: 500 !important;
}

#cuisineType {
  bottom: -25px !important;
}

#ratingBadge {
  margin-right: -1px !important;
  border-radius: 2px !important;
  color: white;
  font-weight: 600;
  top: -40px !important;
  right: 11px;
  position: relative;
  line-height: 29px;
  height: 30px;
}

#showMoreBtn {
margin-right: auto;
margin-left: auto;
width: 100%;
}
.fav-btn.btn-floating.halfway-fab{
  top: 18px;
  right: 18px;

}

a.btn-floating.halfway-fab.rmv-btn{
  top: 18px;
  right: 18px;
}

.btn-small.rating-btn{
      position: absolute;
    top: 20px;
    left: 20px;
}

.card .card-image img {
  height: 212px;
}

.card .card-image .card-title {
  text-shadow: 1px 1px 2px black, 0 0 1em #d1d1d1, 0 0 0.2em #5a5a5a;
  color: white;

 
}

.gas_logo {
  position: absolute;
  height: 35%;
  top: 15px;
  left: 15px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}


img#test {
  position: absolute;
  width: 100%;
  height: 100%;
}

#gasText {
  margin-top: 65px;
  margin-bottom: 65px;
}

#resText {
  margin-top: 65px;
  margin-bottom: 65px;
}

#selectedState {
  text-align: center;
}
