/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: black;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: black;
}

.parallax-container {
  min-height: 620px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }




@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

#gasIcon, #diningIcon, #activityIcon, #favoriteIcon {
  font-size: 100px;
  margin-top: -40px;;
  margin-bottom: auto;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

 #user-sign-in{
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgba(87, 85, 85, 0.678);
    padding: 20px;
    max-height: 90%;
    max-width: 30%;
    margin: auto;
    margin-top: 10px;
    overflow-y: auto;
    border-radius: 80px;
    will-change: top, opacity;
    z-index: 100000;
    border: .5px dotted black;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, 0.541);
    color: white;
 }

 .blur-effect {
     /* Blur and de-color */
  -webkit-filter: blur(5px) grayscale(50%);
 }

